body
  padding 2% 4%
  background-color whitesmoke
  color #345
h1
  font-size 2em

.content
  font-size 1.6rem
  background-color
  .sample
    border: 1px solid lightgray
    background ghostwhite
    margin 12px 0
    padding 12px
    color royalblue
    font-size 1.4rem
.stop
  color crimson
.alert
  color #dde745
